#root {
  max-width: 100%;
}

#curve{
    border-bottom-left-radius: 100% 80px;
  border-bottom-right-radius: 100% 80px;
}

@font-face {
  font-family: 'CircularStd';
  src: url('./assets/circular-std-medium-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.body {
  font-family: 'CircularStd', sans-serif;
}

.hei-98{
  height: 98%;
}